.proposals {
  justify-content: center;
  margin: 15px;
}

.tableStyles {
  height: 100vh;
}

.home,
.jobs {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
